.field-group {
    flex: 1;
}

.password-edit-panel-button {
    margin: 10px;
}

.password-field {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px 20px 10px 10px;
}

.password-generation-form-col {
    display: flex;
    align-items: center;
    flex-direction: row;
};

.password-field:hover {
    background-color: #e6e6e6;
}

.password-field-list {
    padding-right: 0;
    padding-left: 0;
}

.password-length-field {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.password-generation-form {
    margin-top: 10px;
}

.field-drag-icon {
 margin-right: 10px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > .password-edit-panel-button {
        flex-basis: 20%;
    }
}

.accept-button {
    justify-self: flex-end;
}

.cancel-button {
    justify-self: flex-start;
}
