.field-group {
    flex: 1;
}

.password-edit-panel-button {
    margin: 10px;
}



.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > .password-edit-panel-button {
        flex-basis: 20%;
    }
}

.accept-button {
    justify-self: flex-end;
}

.cancel-button {
    justify-self: flex-start;
}
