.header {
    line-height: normal;
    position: relative;
}

.header-item {
    margin-right: 10px;
    margin-left: 10px;
}

.dropdown > button {
    align-items: center;
    display: flex;
    &:after {
        border-top: .5em solid;
        border-right: .5em solid transparent;
        border-left: .5em solid transparent;
    }
}

.navbar-nav {
    align-items: center;
}
